<nav class="navbar navbar-expand-lg @@classList" style="opacity: 0.85;">
  @@if (!context.fancy) {
    <div class="container flex-lg-row flex-nowrap align-items-center">
  }
  @@if (context.fancy) {
    <div class="container">
    <div class="navbar-collapse-wrapper bg-white d-flex flex-row flex-nowrap w-100 justify-content-between align-items-center">
  }
    <div class="navbar-brand w-100">
      <a href="@@webRoot/index.html">
        <img src="@@webRoot/assets/img/logo.png" srcset="@@webRoot/assets/img/logo.png 2x" alt="" />
      </a>
    </div>
    <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
      <div class="offcanvas-header d-lg-none">
        <h3 class="text-white fs-30 mb-0">VinhAround</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
        @@include('_vinh-menu-links.html')
        <div class="offcanvas-footer d-lg-none">
          @@include('_menu-offcanvas-footer.html')
        </div>
        <!-- /.offcanvas-footer -->
      </div>
      <!-- /.offcanvas-body -->
    </div>
    <!-- /.navbar-collapse -->
    @@include('_menu-others.html', {
        "classList": "@@otherClassList",
        "btn": "@@otherBtn",
        "btnClassList": "@@otherBtnClassList",
        "btnText": "@@otherBtnText",
        "btnLink": "@@otherBtnLink",
        "btnModal": "@@otherBtnModal",
        "link": "@@otherLink",
        "linkText": "@@otherLinkText",
        "linkLink": "@@otherLinkLink",
        "linkModal": "@@otherLinkModal",
        "linksNewTab": "@@otherLinksNewTab",
        "languageSelect": "@@otherLanguageSelect",
        "social": "@@otherSocial",
        "search": "@@otherSearch",
        "shop": "@@otherShop",
        "info": "@@otherInfo"
    })
  @@if (!context.fancy) {
    </div>
    <!-- /.container -->
  }
  @@if (context.fancy) {
      </div>
      <!-- /.navbar-collapse-wrapper -->
    </div>
    <!-- /.container -->
  }
</nav>
<!-- /.navbar -->