<!-- <section class="video-wrapper bg-overlay bg-overlay-gradient px-0 mt-0 min-vh-80"> -->
<section class="video-wrapper bg-overlay-gradient px-0 mt-0 min-vh-100">
  <video poster="./assets/img/photos/vinharound.jpg" src="./assets/media/vinharound.mp4" autoplay loop playsinline muted></video>
  <div class="video-content">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-8 col-xl-6 text-center text-white mx-auto">
          <h1 class="display-1 fs-54 text-white mb-5"><span class="rotator-zoom">
            Kinh nghiệm, Uy tín, Tận tâm
          </span></h1>
          <p class="lead fs-24 mb-0 mx-xxl-8">We are a digital agency specializing in web design, mobile development and seo optimization.</p>
        </div>
        <!-- /column -->
      </div>
    </div>
    <!-- /.video-content -->
  </div>
  <!-- /.content-overlay -->
</section>
<!-- /section -->