<div>
	<h4 class="mb-5">Nổi bật</h4>
	<section class="wrapper bg-light">
		<div class="container py-4 py-md-4">

		  <div class="row gx-md-4 gx-xl-6 gy-1">
			<div class="col-lg-6 mb-0">
			  <div class="d-flex flex-row">
				<div>
				  <i class="uil uil-check me-2 text-blue"></i>
				</div>
				<div>
				  <p class="mb-0"> Tour VIP theo nhóm nhỏ, chủ động lịch trình</p>
				</div>
			  </div>
			</div>
			<!-- /column -->
			<div class="col-lg-6">
			  <div class="d-flex flex-row">
				<div>
					<i class="uil uil-check me-2 text-blue"></i>
				</div>
				<div>
					<p class="mb-0">
						Nhận lời khuyên tốt nhất cho hồ sơ xin visa 
					</p>
				</div>
			  </div>
			</div>
			<!-- /column -->
			<div class="col-lg-6">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						  Nhận lời khuyên tốt nhất cho hồ sơ xin visa 
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-6">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Tận hưởng phòng chờ thương gia sang trọng
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-6">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Ngắm toàn cảnh 12 Tông Đồ bằng trực thăng
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-6">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Khách sạn cao cấp 4* ngay trung tâm TP
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-6">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Tự do mua sắm & thưởng thức ẩm thực địa phương
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-6 ">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Vô vàng các tiện ích nổi bật: tách đoàn thăm thân, dời ngày về, nâng hạng ghế, nâng cấp phòng khách sạn, được hỗ trợ nhu cầu cá nhân như mua quà, thêm điểm tham quan, trị bệnh...
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
		  </div>
		  <!-- /.row -->
		</div>
		<!-- /.container -->
	  </section>
	  <!-- /section -->
</div>
