<div class="widget z-index-100" >
  <h4 class="widget-title mb-3">Phụ lục</h4> 
  <div class="accordion accordion-wrapper" id="accordionExample">
    <div class="card accordion-item py-0 mb-1">
      <div class="card-header py-1" id="headingOne">
        <a class="collapsed hover text-blue" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="uil uil-angle-down"></i> Tiêu đề bài viết</a> 
      </div>
      <!--/.card-header -->
      <div id="collapseOne" class="accordion-collapse collapse show " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="card-body ">
          <ul class="unordered-list bullet-primary">
            <li><a href="#1" class=" "> đi chơi có gì vui</a></li>
            <li><a href="#2" class=" ">vui mới đi chơi</a></li>          
            <li><a href="#3" class=" ">đi chơi sẽ vui</a></li>
          </ul>
        </div>
        <!--/.card-body -->
      </div>
      <!--/.accordion-collapse -->
    </div>
    <!--/.accordion-item -->
  </div>
  <!--/.accordion -->
</div>
								