<div>
	<hr class="double my-8 text-blue" />
	<h4 class="mb-5">Dịch vụ</h4>
	<section class="wrapper bg-light">
		<div class="container py-4 py-md-6">
		  <div class="row gx-lg-8 gx-xl-12 gy-6 process-wrapper line">
			<div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4"><i class="uil uil-plane-departure"></i></span>
			  <h6 class="mb-0"> Hỗ trợ đặt vé</h6>
			</div>
			<!--/column -->
			<div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4"><i class="uil uil-file-shield-alt"></i></span>
				<h6 class="mb-0"> Hỗ trợ đặt vé</h6>
			  </div>
			<!--/column -->
			<div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4"><i class="uil uil-percentage"></i></span>
				<h6 class="mb-1">Trả góp 0% lãi</h6>
			</div>
			<!--/column -->
			<div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4"><i class="uil uil-file-edit-alt"></i></span>
				<h6 class="mb-1">Tuỳ biến tour</h6>
			</div>
			<!--/column -->
		  </div>
		  <!--/.row -->
		</div>
		<!-- /.container -->
	  </section>
	  <!-- /section -->
</div>
