<!-- <section class="video-wrapper bg-overlay bg-overlay-gradient px-0 mt-0 min-vh-80"> -->
<section class="video-wrapper bg-overlay-gradient px-0 mt-0 min-vh-100">
  <video poster="./assets/img/photos/vinharound.jpg" src="./assets/media/vinharound.mp4" autoplay loop playsinline muted></video>
  <div class="video-content">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-8 col-xl-6 text-center text-white mx-auto">
          <h1 class="display-1 fs-54 text-white mb-5"><span class="rotator-zoom">
            Kinh nghiệm, Uy tín, Tận tâm
          </span></h1>
          <div class="input-group mb-3 ">
            
            <button class="rounded-end btn hover w-100 ps-0 px-0 pe-1" type="button" ><input type="text" class="form-control w-70%  input-disabled-bg me-2 rounded-end" id="exampleFormControlInput1" placeholder="where are you going?">Tìm kiếm</button>
          </div>
        </div>
        <!-- /column -->
      </div>
    </div>
    <!-- /.video-content -->
  </div>
  <!-- /.content-overlay -->
</section>
<!-- /section -->