<section class="wrapper bg-light">
	<div class="container py-14 py-md-16">
		<div class="row text-center">
			<div class="col-xl-10 mx-auto">
				<h2 class="display-4 mb-10 px-xxl-15">Visa Du Lịch các nước.</h2>
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-xl-10 mx-auto">
				<form class="filter-form mb-10">
					<div class="row">
						<div class="col-md-4 mb-3">
							<div class="form-select-wrapper">
								<select class="form-select" aria-label="">
									<option selected>Quốc gia</option>
									<option value="position1">Business</option>
									<option value="position2">Design</option>
									<option value="position3">Development</option>
									<option value="position4">Engineering</option>
									<option value="position5">Finance</option>
									<option value="position6">Marketing</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<div class="form-select-wrapper">
								<select class="form-select" aria-label="">
									<option selected>Giá tiền</option>
									<option value="type4">Tất cả</option>
									<option value="type1">Từ thấp đến cao</option>
									<option value="type3">Từ cao đến thấp</option>
									
								</select>
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<div class="form-select-wrapper">
								<select class="form-select" aria-label="">
									<option selected>Loại</option>
									<option value="location1">Visa điện tử</option>
									<option value="location3">Visa dán</option>
								</select>
							</div>
						</div>
					</div>
				</form>
				<div class="job-list mb-10">
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/India-300x300.webp" alt="" />
									</span>Visa Ấn Độ </span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									 1.500.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa điện tử </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Han.svg" alt="" />
									</span>Visa Hàn Quốc</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									3.500.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa điện tử </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Hongkong.svg" alt="" />
									</span>Visa Hongkong</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									3.000.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa điện tử </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Nhật Bản.svg" alt="" />
									</span>Visa Nhật Bản</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									3.000.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Trung Quốc.svg" alt="" />
									</span>Visa Trung Quốc</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									4.800.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa UAE (Dubai).svg" alt="" />
									</span>	Visa UAE (Dubai)</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									2.500.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa điện tử </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Anh Quốc.svg" alt="" />
									</span>	Visa Anh Quốc</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									8.000.000<i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Đức.svg" alt="" />
									</span>	Visa Đức</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									6.500.000<i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Pháp.svg" alt="Visa Pháp" />
									</span>	Visa Pháp</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									6.500.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Italy.svg" alt="Visa Italy" />
									</span>	Visa Ý</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Mỹ.svg" alt="Visa Mỹ" />
									</span>Visa Mỹ</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.200.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Canada.svg" alt="Visa Canada" />
									</span>Visa Canada</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.200.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Úc.svg" alt="	Visa Úc" />
									</span>	Visa Úc</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									6.500.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa điện tử </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa New Zealand.svg" alt="Visa New Zealand" />
									</span>	Visa New Zealandc</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa điện tử </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Ai Cập.svg" alt="Visa Ai Cập" />
									</span>Visa Ai Cập</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									3.000.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Áo.svg" alt="Visa Áo" />
									</span>	Visa Áo</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i>Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Bỉ.svg" alt="Visa Bỉ" />
									</span>	Visa Bỉ</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i>Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Thuỵ Sĩ.svg" alt="Visa Thuỵ Sĩ" />
									</span>	Visa Thuỵ Sĩ</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i>Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Thuỵ Điển.svg" alt="Visa Thuỵ Điển" />
									</span>	Visa Thuỵ Điển</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i>Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Thuỵ Điển.svg" alt="Visa Thuỵ Điển" />
									</span>	Visa Thuỵ Điển</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i>Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Thổ Nhĩ Kỳ.svg" alt="Visa Thổ Nhĩ Kỳ" />
									</span>	Visa Thổ Nhĩ Kỳ</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									6.500.000 <i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i>Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Slovakia.svg" alt="Visa Slovakia" />
									</span>	Visa Slovakia</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000<i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i>Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Cộng Hòa Séc.svg" alt="Cộng Hòa Séc" />
									</span>	Cộng Hòa Séc</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000<i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i>Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Phần Lan.svg" alt="Visa Phần Lan" />
									</span>	Visa Phần Lan</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000<i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i>Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="detail-visa.html" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span><img class="avatar w-9 h-9 fs-17 me-3" src="../assets/img/Visa Na Uy.svg" alt="Visa Na Uy" />
									</span>	Visa Na Uy</span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									7.000.000<i class="uil uil-dollar-alt"></i></span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i>Visa dán </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
				</div>
				
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /section -->
								