<div class="row gy-6 gy-lg-0">
  <div class="col-md-4 col-lg-4">
    <div class="widget">
      @@if (!context.lightText) {
        <img class="mb-4" src="@@webRoot/assets/img/logo.png" srcset="@@webRoot/assets/img/logo.png 2x" alt="" />
      }
      @@if (context.lightText) {
        <img class="mb-4" src="@@webRoot/assets/img/logo.png" srcset="@@webRoot/assets/img/logo.png 2x" alt="" />
      }
      <p class="mb-4">Vinharound Travel ® Copyright 2020.<br class="d-none d-lg-block" /> Bản quyền nội dung thuộc về “”www.vinharound.com”” ® ghi rõ nguồn khi sử dụng nội dung từ trang web này..</p>
      <p class="mb-4">Giấy phép kinh doanh số: 0314702049 <br class="d-none d-lg-block" />cấp bởi Sở kế hoạch và đầu tư TPHCM ngày 27/10/2017 </p>
      <nav class="nav social @@if (context.lightText) {social-white}">
        <a href="#"><i class="uil uil-twitter"></i></a>
        <a href="https://www.facebook.com/vinharoundtravel"><i class="uil uil-facebook-f"></i></a>
        <a href="#"><i class="uil uil-dribbble"></i></a>
        <a href="https://www.instagram.com/vinharound/"><i class="uil uil-instagram"></i></a>
        <a href="#"><i class="uil uil-youtube"></i></a>
      </nav>
      <!-- /.social -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-4">
    <div class="widget">
      <h4 class="widget-title text-primary mb-3">Liên hệ</h4>
      <a href="mailto:#" @@if (!context.lightText) {class="link-body"}>vinharound@gmail.com</a><br /> 093 334 4646
      <p class="mb-3">Hotline: 090-251-6672 (Ms.Vy)</p>
      <address class="pe-xl-15 pe-xxl-17">LV17-11 Toà nhà Vincom Center 72 Lê Thánh Tôn, Quận 1 TP. Hồ Chí Minh</address>
        <p class="mb-3">Mã số thuế: 0314702049</p>
      
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div class="col-md-4 col-lg-4">
    <div class="widget">
      <h4 class="widget-title text-primary mb-3">Tài khoản ngân hàng</h4>
      <p class="mb-3">CÔNG TY TNHH DU LỊCH VINHAROUND </br>0171003469686 </br>Ngân hàng Vietcombank TPHCM </p>
      
      <p class="mb-3">TRẦN QUAN VINH </br> 0071000906334 </br>Ngân hàng Vietcombank TPHCM </p>
    </div>
    <!-- /.widget -->
  </div>
 
</div>
<!--/.row -->