<div class="widget">
    <h4 class="widget-title mb-3">Thông tin hữu ích</h4> 
        <div class="table-responsive">
          <table class="table table-order">
            <tbody>
              <tr>
                <td class="ps-0 py-2">
                    <a href="https://vinharound.com/chinh-sach-huy-tour-hoan-tien/" rel="noopener" target="_blank" class="text-blue hover"> <i class="uil uil-file-check-alt"></i> Chính sách huỷ tour</a>
                </td>
                
              </tr>
              <tr>
                <td class="ps-0 py-2">
                    <a href="https://vinharound.com/kiem-tra-ty-le-dau-visa/" rel="noopener" target="_blank" class="text-blue hover"> <i class="uil uil-file-check-alt"></i> Kiểm tra tỷ lệ đậu visa</a>
                </td>
                
              </tr>
              <tr>
                <td class="ps-0 py-2"><a href="/src/download.html" rel="noopener" target="_blank" class="text-blue hover"> <i class="uil uil-file-check-alt"></i>  Các tài liệu hỗ trợ xin visa</a></td>
              </tr>
              <tr>
                <td class="ps-0 py-2">
                    <a href="/src/payment.html" rel="noopener" target="_blank" class="text-blue hover"> <i class="uil uil-file-check-alt"></i> Các kênh thanh toán</a>
                </td>
               
              </tr>
              <tr>
                <td class="ps-0 py-2">
                    <a href="https://vinharound.com/tra-gop-0-lai-suat-qua-the-tin-dung/" rel="noopener" target="_blank" class="text-blue hover"> <i class="uil uil-file-check-alt"></i>  Trả góp tour 0% lãi suất</a>
                </td>
               
              </tr>
            </tbody>
          </table>
        </div>
       

</div>
								