
<ul class="navbar-nav">
 
  <div class="w-100 order-1 order-lg-0 d-lg-flex offcanvas-body">
    <ul class="navbar-nav ms-lg-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="@@webRoot/index.html">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@@webRoot/about-us.html">Về chúng tôi</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Sắp khởi hành</a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/list-tour.html">Ai Cập</a></li>
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/list-tour.html">Châu Âu</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Tour riêng</a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/list-tour.html">27 nước Schengen</a></li>
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/list-tour.html">Ai Cập & Châu Phi</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@@webRoot/list-visa.html">Visa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@@webRoot/esim.html">esim</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Blog</a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/list-blog.html">VinhAround Trip</a></li>
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/list-blog.html">Culture Travel</a></li>
        </ul>
      </li>
    </ul>
      <!-- /.navbar-nav -->
  </div>

</ul>
<!-- /.navbar-nav -->
