<div class="widget bg-pale-sky text-center rounded mb-5">

	<div class="  bg-blue mb-2 pt-3 pb-2 text-center align-items-center text-white rounded">
		<h4 class="text-white">DỊCH VỤ HỖ TRỢ XIN VISA</h4>
	</div>
	<div class="table-responsive rounded">
			<table class="table table-order">
				<div id="collapseOne" class="accordion-collapse collapse show " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="card-body ">
					  <div>
						  <table class="table">
							  <tbody>
								<tr>
								  <td colspan="2">Chứng minh công việc</td>
								  <td colspan="2">3.000.000	</td>
								</tr>
								<tr>
									<td colspan="2">Chứng minh tài chính</td>
									<td colspan="2">3.000.000	</td>
								</tr>
								<tr>
									<td colspan="2">Chứng minh công việc lương chuyển khoản + xác nhận số dư tài khoản + sao kê lương 6 tháng</td>
									<td colspan="2">10.000.000	</td>
								</tr>
								<tr>
									<td colspan="2">
										Dịch thuật hồ sơ A4</td>
									<td colspan="2">150.000	</td>
								</tr>
								<tr>
									<td colspan="2">Làm hộ chiếu khẩn</td>
									<td colspan="2">4.000.000</td>
								</tr>
								<tr>
									<td colspan="2">Gói lịch trình xin visa</td>
									<td colspan="2">4.000.000</td>
								</tr>
							  </tbody>
							</table>
					  </div>
					</div>
					<!--/.card-body -->
				</div>
			</table>
	</div>
		   
	
</div>						