<div class="widget">
    <h4 class="widget-title mb-3"><img src="./assets/img/icons/solid/globe-2.svg" class="svg-inject icon-svg icon-svg-xs solid-mono text-primary me-1" alt="" />Blog du lịch của Vinh</h4> 
    <div class="col-md-12 mb-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-blue" type="button" id="button-addon2">Tim kiếm</button>
      </div>
    </div>
    
    <div class="table-responsive">
          <table class="table table-order">
            <tbody>
              <tr>
                <td class="ps-0 py-1 align-items-center">
                  <div class="row">
                    <div class="col-md-2 d-flex " >
                      <img draggable="false" role="img" class="emoji" alt="🇦🇺" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1e6-1f1fa.svg">
                    </div>
                    <div class="col-md-10 d-flex text-center pt-3" >
                      <p class="text-blue hover text-center"> Úc (2) </p>
                    </div>
                  </div>
                </td>
                
              </tr>
              <tr>
                <td class="ps-0 py-2 align-items-center">
                  <div class="row">
                    <div class="col-md-2 d-flex " >
                      <img draggable="false" role="img" class="emoji" alt="🇦🇹" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1e6-1f1f9.svg">
                    </div>
                    <div class="col-md-10 d-flex text-center pt-3" >
                      <p class="text-blue hover text-center"> Áo(2) </p>
                    </div>
                  </div>
                </td>
                
              </tr>
              <tr>
                <td class="ps-0 py-2 align-items-center">
                  <div class="row">
                    <div class="col-md-2 d-flex " >
                      <img draggable="false" role="img" class="emoji" alt="🇦🇺" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1e6-1f1fa.svg">
                    </div>
                    <div class="col-md-10 d-flex text-center pt-3" >
                      <p class="text-blue hover text-center"> Canada (6) </p>
                    </div>
                  </div>
                </td>
                
              </tr>
              <tr>
                <td class="ps-0 py-2 align-items-center">
                  <div class="row">
                    <div class="col-md-2 d-flex " >
                      <img draggable="false" role="img" class="emoji" alt="🇦🇺" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1e6-1f1fa.svg">
                    </div>
                    <div class="col-md-10 d-flex text-center pt-3" >
                      <p class="text-blue hover text-center">  Thụy Sỹ (9) </p>
                    </div>
                  </div>
                </td>
                
              </tr>
              <tr>
                <td class="ps-0 py-2 align-items-center">
                  <div class="row">
                    <div class="col-md-2 d-flex " >
                      <img draggable="false" role="img" class="emoji" alt="🇦🇺" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1e6-1f1fa.svg">
                    </div>
                    <div class="col-md-10 d-flex text-center pt-3" >
                      <p class="text-blue hover text-center">  Cộng hoà Séc (2) </p>
                    </div>
                  </div>
                </td>
                
              </tr>
              <tr>
                <td class="ps-0 py-2 align-items-center">
                  <div class="row">
                    <div class="col-md-2 d-flex " >
                      <img draggable="false" role="img" class="emoji" alt="🇦🇺" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1e6-1f1fa.svg">
                    </div>
                    <div class="col-md-10 d-flex text-center pt-3" >
                      <p class="text-blue hover text-center"> Cộng hoà Séc (2) </p>
                    </div>
                  </div>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
       

</div>
								