<div class="mb-5">
	<h4 class="mb-5">THÔNG TIN VỀ VISA DU LỊCH ẤN ĐỘ</h4>

			<div class="table-responsive ps-2">
			  <table class="ps-0 py-0">
				<tbody class="ps-0 py-2">
				  <tr class="ps-0 py-0">
					<td class="ps-0 py-0">
						<p class="ps-0 py-0 mb-0">  <i class="uil uil-asterisk text-blue"></i> <strong>Loại visa:</strong> Du lịch tự túc</p>
					</td>
				  </tr>
				  <tr>
					<td class="ps-0 py-2">
						<p class="ps-0 py-0 mb-0">  <i class="uil uil-asterisk text-blue"></i> <strong>Hình thức nộp hồ sơ: </strong>nộp trực tuyến</p>
					</td>
					
				  </tr>

				  <tr>
					<td class="ps-0 py-2">
						<p class="ps-0 py-0 mb-0">  <i class="uil uil-asterisk text-blue"></i> <strong>Hình thức cấp visa:</strong>  Visa điện tử</p>
					</td>
				  </tr>
				  
				  <tr>
					<td class="ps-0 py-2">
						<p class="ps-0 py-0 mb-0">  <i class="uil uil-asterisk text-blue"></i> <strong>Hiệu lực visa:</strong> 3 tháng</p>
					</td>
				   
				  </tr>
				  <tr>
					<td class="ps-0 py-2">
						<p class="ps-0 py-0 mb-0">  <i class="uil uil-asterisk text-blue"></i> <strong>Thời gian lưu trú:</strong>  30 ngày</p>
					</td>
				  </tr>
				  <tr>
					<td class="ps-0 py-2">
						<p class="ps-0 py-0 mb-0">  <i class="uil uil-asterisk text-blue"></i> <strong>Số lần nhập cảnh: </strong> Hai lần / Nhiều lần</p>
					</td>
				  </tr>
				  <tr>
					<td class="ps-0 py-2">
						<p class="ps-0 py-0 mb-0">  <i class="uil uil-asterisk text-blue"></i> <strong>Điều kiện visa: </strong>  Không được phép làm việc</p>
					</td>
				  </tr>
				  <tr>
					<td class="ps-0 py-2">
						<p class="ps-0 py-0 mb-0">  <i class="uil uil-asterisk text-blue"></i> <strong>Thời gian hoàn tất hồ sơ: </strong> 1 ngày</p>
					</td>
				  </tr>
				  <tr>
					<td class="ps-0 py-2">
						<p class="ps-0 py-0 mb-0">  <i class="uil uil-asterisk text-blue"></i> <strong>Thời gian xét duyệt: </strong> 3~5 ngày</p>
					</td>
				  </tr>
				</tbody>
			  </table>
			</div>
		   
	
</div>
								