<div>
	<hr class="double my-8 text-blue" />
	<h4 class="mb-5">Trước khi bạn đi</h4>
	<section class="wrapper bg-light">
		<div class="container py-4 py-md-4">
		  <div class="row gx-md-4 gx-xl-6 gy-1">
			<div class="col-lg-6 mb-0">
			  <div class="d-flex flex-row">
				<div>
				  <i class="uil uil-check me-2 text-blue"></i>
				</div>
				<div>
				  <p class="mb-0">Khởi hành là chuyến bay đêm: hãy đảm bảo sức khoẻ và cân nhắc đăng ký nhận phòng sớm (giờ nhận phòng là 15:00PM)</p>
				</div>
			  </div>
			</div>
			<!-- /column -->
			<div class="col-lg-6">
			  <div class="d-flex flex-row">
				<div>
					<i class="uil uil-check me-2 text-blue"></i>
				</div>
				<div>
					<p class="mb-0">
						Chuyến bay về Việt Nam là chuyến bay muộn: hãy đảm bảo sức khoẻ và cân nhắc đăng ký trả phòng muộn (giờ trả phòng là 11:00AM)
					</p>
				</div>
			  </div>
			</div>
			<!-- /column -->
			<div class="col-lg-6">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Tham gia buổi họp đoàn để nhận được các thông tin quan trọng trước chuyến đi
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-6">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						<strong>
							Các chi phí chưa bao gồm:
						</strong>
						<br/>- Các bữa ăn (kể cả bữa ăn trên chuyến bay)<br/>
						- Nhận phòng sớm / Trả phòng muộn<br/>
						- Các trò chơi, điểm tham quan không đề cập trong lịch trình<br/>
						- Tiền tip (tuỳ ý)
					  </p>

				  </div>
				</div>
			  </div>
			<!-- /column -->
		  </div>
		  <!-- /.row -->
		</div>
		<!-- /.container -->
	  </section>
	  <!-- /section -->
</div>
