

<section class="wrapper bg-light">
	<div class="container py-14 py-md-6">
		<div class="row text-center">
			<div class="col-xl-10 mx-auto">
				<h2 class="display-4 mb-10 px-xxl-15 text-primary">Các kênh thanh toán</h2>
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
		
			<div class="col-xl-12 mx-auto mb-5 mt-5">
             
                    <div class="row">
                        <!-- Cột đầu tiên  -->
                        <div class="col-md-3  me-2 mt-5  pt-4">
                            <div class="card-body  mt-3 text-center">
                            <h4 class="text-green">THANH TOÁN QUA CHUYỂN KHOẢN </h4>
                        </div>
                        </div>
                       
            
                        <!-- Cột thứ hai-->
                        <div class="col-md-4 me-2 card bg-soft-aqua card-border-start border-primary mb-2">
                        
                                    <div class="card-body px-1 py-4 ">
                                        <h4>CTY TNHH DU LỊCH VINHAROUND</h4>
                                        <p>Số TK: 0171003469686</br> Ngân hàng Vietcombank TPHCM</p>
                               
                                    </div>  
                        </div>
            
                        <!-- Cột thứ ba  -->
                        <div class="col-md-4 card bg-soft-aqua card-border-start border-primary mb-2">
                              
                                 <div class="card-body px-1 py-4 ">
                                    <h5>TRẦN QUAN VINH </h5>
                                    <p>Số TK: 0071 0009 06334 </br>Hoặc nhập: VINHAROUND </br>Ngân hàng Vietcombank TPHCM</p>
                                </div>
                            
                        </div>
                    </div>

               
            </div>
            <div class="col-xl-12 mx-auto mb-5 mt-5">
             
                <div class="row">
                 
                    <div class="col-md-3  me-2 mt-7 mb-2">
                        <div class="card-body  mt-3 text-center">
                        <h4 class ="text-purple">THANH TOÁN QUA THẺ </h4>
                    </div>
                    </div>
                   
        
                    <!-- Cột thứ hai-->
                    <div class="col-md-4 me-2 card bg-soft-navy card-border-start border-purple mb-2">
                    
                                <div class="card-body px-1 py-4 ">
                                   

                                    <h4 class ="text-purple">QUA THẺ TÍN DỤNG</h4>
                                    <p class ="text-purple">VinhAround hỗ trợ thanh toán trả góp 0% lãi suất qua thẻ tín dụng</p>
                           
                                </div>  
                    </div>
        
                    <!-- Cột thứ ba  -->
                    <div class="col-md-4 card bg-soft-navy card-border-start border-purple mb-2">
                          
                             <div class="card-body px-1 py-4 ">
                                <h5 class ="text-purple">QUA THẺ ATM</h5>
                                <p class ="text-purple">VinhAround hỗ trợ thanh toán qua máy quẹt thẻ mPOS tât cả ngân hàng tại Việt Nam</p>
                            </div>
                        
                    </div>
                </div>

           
        </div>
        <div class="col-xl-12 mx-auto mb-5 mt-5">
             
            <div class="row">
             
                <div class="col-md-3  me-2 mt-8 mb-2 mb-2 ">
                    <div class="card-body  mt-6 text-center ">
                    <h4 class="text-fuchsia">THANH TOÁN QUA MOMO </h4>
                </div>
                </div>
               
    
                <!-- Cột thứ hai-->
                <div class="col-md-4 me-2 card bg-soft-fuchsia card-border-start border-fuchsia mb-2">
                
                            <div class="card-body  mt-4">
                      
                                <h4>093-334-4646</h4>
                                <p>Chuyển tiền qua số tài khoản Momo hoặc quét mã QR bên</p>
                       
                            </div>  
                </div>
    
                <!-- Cột thứ ba  -->
                <div class="col-md-4 card bg-soft-fuchsia card-border-start border-fuchsia mb-2">
                      
                         <div class="card-body align-items-center pe-5 py-1">
                            <img decoding="async" width="200" height="200" src="https://vinharound.com/wp-content/uploads/2023/07/QR-Momo-Vinharound-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-image-1867" alt="">
                        </div>
                    
                </div>
            </div>

       
    </div>
    
        
        <!-- /.row -->
       
		 
    </div>
</section>