<div>
	<hr class="double my-8 text-blue" />
	<h4 class="mb-5">Tour bao gồm</h4>
	<section class="wrapper bg-light">
		<div class="container py-4 py-md-4">

		  <div class="row gx-md-4 gx-xl-6 gy-1">
			<div class="col-lg-4 ">
			  <div class="d-flex flex-row">
				<div>
				  <i class="uil uil-check me-2 text-blue"></i>
				</div>
				<div>
				  <p class="mb-0">Bảo hiểm du lịch</p>
				</div>
			  </div>
			</div>
			<!-- /column -->
			<div class="col-lg-4">
			  <div class="d-flex flex-row">
				<div>
					<i class="uil uil-check me-2 text-blue"></i>
				</div>
				<div>
					<p class="mb-0">
						Bộ tiện ích trên máy bay
					</p>
				</div>
			  </div>
			</div>
			<!-- /column -->
			<div class="col-lg-4">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						eSim du lịch 
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-4">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						HDV Việt Nam
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-4">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Khách sạn tiêu chuẩn 4*
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-4">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Phòng chờ thương gia
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-4">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Phương tiện công cộng
					  </p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-4">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Quà tặng sinh nhật</p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-4">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Vé máy bay 23kg hành lý</p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-4 ">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Vé máy bay nội địa</p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-4 ">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Vé tham quan các điểm</p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-4 ">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Visa Úc</p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
			<div class="col-lg-4 ">
				<div class="d-flex flex-row">
				  <div>
					  <i class="uil uil-check me-2 text-blue"></i>
				  </div>
				  <div>
					  <p class="mb-0">
						Xe vận chuyển</p>
				  </div>
				</div>
			  </div>
			<!-- /column -->
		  </div>
		  <!-- /.row -->
		</div>
		<!-- /.container -->
	  </section>
	  <!-- /section -->
</div>
