<div class="widget">
  <h4 class="widget-title mb-3">Chính sách - điều khoản</h4> 
  <div class="accordion accordion-wrapper" id="accordionExample">
    <div class="card accordion-item">
      <div class="card-header" id="headingOne">
        <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> QUY TRÌNH ĐẶT TOUR </button>
      </div>
      <!--/.card-header -->
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="card-body">
          <ul class="unordered-list bullet-primary">
            <li>Đặt tour & ký hợp đồng:<strong>thanh toán 50%</strong></li>
            <li>Chuẩn bị hồ sơ xin visa <a href="#"> <img src="https://vinharound.com/visa" alt="" />https://vinharound.com/visa</a></li>
            <li>Vinharound nộp & nhận kết quả visa:
              <ul class="icon-list bullet-primary">
                <li><span><i class="uil uil-arrow-right"></i></span><span> Đậu visa đúng ngày / hoặc đã có visa / hoặc hộ chiếu được miễn visa : <strong>thanh toán 30%.</strong></span></li>
                <li><span><i class="uil uil-arrow-right"></i></span><span> Đậu visa trễ: dời tour sang chuyến kế tiếp .</span></li>
                <li><span><i class="uil uil-arrow-right"></i></span><span> Trượt visa: Vinharound hoàn tiền tour sau khi trừ chi phí làm visa + phí huỷ vé máy bay.</span></li>
              </ul>
            </li>
            <li>Họp đoàn trước 10 ngày: thanh toán 20% còn lại</li>
          </ul>
        </div>
        <!--/.card-body -->
      </div>
      <!--/.accordion-collapse -->
    </div>
    <!--/.accordion-item -->
    
    <div class="card accordion-item">
      <div class="card-header" id="headingTwo">
        <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> CHÍNH SÁCH GIÁ </button>
      </div>
      <!--/.card-header -->
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="card-body">
          <ul class="unordered-list bullet-primary">
            <li>Người lớn từ 5 – 70 tuổi: 100% giá tour</li>
            <li>Người lớn trên 70 tuổi: 100% giá tour trừ chi phí bảo hiểm (quý khách tự mua bảo hiểm)</li>
            <li>Trẻ em trên 24 tháng tuổi:
              <ul class="icon-list bullet-primary">
                <li><span><i class="uil uil-arrow-right"></i></span><span> 95% giá tour nếu ngủ cùng phòng với 2 người lớn.</span></li>
                <li><span><i class="uil uil-arrow-right"></i></span><span> 100% giá tour nếu ngủ cùng 1 người lớn.</span></li>
              </ul>
            </li>
            <li>Em bé dưới 24 tháng tuổi: 30% giá tour</li>
            <li>Khách đã có visa / Hộ chiếu được miễn visa: trừ theo phí visa của ĐSQ/LSQ</li>

          </ul>
        </div>
        <!--/.card-body -->
      </div>
      <!--/.accordion-collapse -->
    </div>
    <!--/.accordion-item -->
    <div class="card accordion-item">
      <div class="card-header" id="headingThree">
        <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> DỜI TOUR - HUỶ TOUR </button>
      </div>
      <!--/.card-header -->
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="card-body">
          <ul class="unordered-list bullet-primary">
            <li><strong>Huỷ tour trong 24 giờ ký hợp đồng:</strong> được huỷ tour miễn phí (trừ những tour giờ chót hoặc Vinharound có thông báo trước)</li>
            <li><strong>Huỷ tour trước khi Vinharound làm visa: </strong> mất 20% và được dời sang tour kế tiếp</li>
            <li><strong>Huỷ tour sau khi Vinharound nộp hồ sơ lên ĐSQ/LSQ: </strong> mất 30% và được dời sang tour kế tiếp</li>
            <li><strong>Huỷ tour sau khi có kết quả Visa:</strong>  mất 40% và được dời sang tour kế tiếp </li>
            <li><strong>Huỷ tour sau khi Vinharound đặt các dịch vụ (vé máy bay, khách sạn…): </strong> mất 70% và được dời sang tour kế tiếp</li>
            <li><strong>Huỷ tour trước ngày họp đoàn: </strong> mất 80% và được dời sang tour kế tiếp</li>
            <li><strong>Huỷ tour trước ngày khởi hành: </strong> mất 100%</li>

          </ul>
        </div>
        <!--/.card-body -->
      </div>
      <!--/.accordion-collapse -->
    </div>
    <!--/.accordion-item -->
    <div class="card accordion-item">
      <div class="card-header" id="headingFour">
        <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">MIỄN TRỪ TRÁCH NHIỆM</button>
      </div>
      <!--/.card-header -->
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="card-body">
          <ul class="unordered-list bullet-primary">
           
              <li>Nếu khách hàng bị cơ quan xuất nhập cảnh tại cửa khẩu Sân Bay Quốc Tế từ chối xuất/nhập cảnh hoặc nhập cảnh vì lí do cá nhân, VinhAround sẽ không chịu trách nhiệm và sẽ không hoàn trả tiền tour.</li>
              <li>Do các chuyến bay phụ thuộc vào các hãng Hàng Không nên trong một số trường hợp giờ bay có thể thay đổi mà không được thông báo, Vinharound không có trách nhiệm bồi thường các chi phí phát sinh</li>
              <li>Trong những trường hợp khách quan như: thời tiết, thiên tai hoặc các sự cố hỏng hóc, chậm trễ từ phía các phương tiện vận chuyển như máy bay, tàu hỏa…thì VinhAround sẽ giữ quyền thay đổi lộ trình bất cứ lúc nào vì sự thuận tiện, an toàn cho khách hàng và sẽ không chịu trách nhiệm bồi thường những thiệt hại phát sinh</li>
              <li>Trường hợp xảy ra thiên tai, dịch bệnh, chiến tranh, bạo loạn… bắt buộc phải dời ngày khởi hành, VinhAround sẽ dời ngày cho quý khách (chi phí dời sẽ dựa trên chi phí thay đổi vé bay và dịch vụ) hoặc bắt buộc phải huỷ bỏ chương trình, VinhAround sẽ hỗ trợ cho quý khách chuyển sang một chương trình tour khác hoặc hoàn lại một phần chi phí chưa thanh toán / chi phí được nhà cung cấp hoàn lại</li>
              <li>Các trường hợp khẩn cấp như tai nạn, sự cố trong quá trình tham gia tour, Quý khách sẽ được công ty bảo hiểm bồi thường. Tuy nhiên Quý khách cần thanh toán các khoản ứng trước để khắc phục sự cố. Vinharound có nhiệm vụ liên lạc công ty bảo hiểm để thực hiện các thủ tục bồi thường, nhận lại tiền bảo hiểm cho Quý khách. Vinharound không có nghĩa vụ thanh toán các khoản ứng trước đó</li>
            
          </ul>
        </div>
        <!--/.card-body -->
      </div>
      <!--/.accordion-collapse -->
    </div>
    

    <!--/.accordion-item -->
    
  </div>
  <!--/.accordion -->
</div>
								