<section class="wrapper bg-light">
	<div class="container py-14 py-md-16">
		<div class="row text-center">
			<div class="col-xl-10 mx-auto">
				<h2 class="display-4 mb-10 px-xxl-15">Visa Du Lịch các nước.</h2>
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-xl-10 mx-auto">
				<form class="filter-form mb-10">
					<div class="row">
						<div class="col-md-4 mb-3">
							<div class="form-select-wrapper">
								<select class="form-select" aria-label="">
									<option selected>Quốc gia</option>
									<option value="position1">Business</option>
									<option value="position2">Design</option>
									<option value="position3">Development</option>
									<option value="position4">Engineering</option>
									<option value="position5">Finance</option>
									<option value="position6">Marketing</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<div class="form-select-wrapper">
								<select class="form-select" aria-label="">
									<option selected>Giá tiền</option>
									<option value="type4">Tất cả</option>
									<option value="type1">Từ thấp đến cao</option>
									<option value="type3">Từ cao đến thấp</option>
									
								</select>
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<div class="form-select-wrapper">
								<select class="form-select" aria-label="">
									<option selected>Loại</option>
									<option value="location1">Visa điện tử</option>
									<option value="location3">Visa dán</option>
								</select>
							</div>
						</div>
					</div>
				</form>
				<div class="job-list mb-10">
					<a href="#" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span class="avatar bg-red text-white w-9 h-9 fs-17 me-3">EN</span> Visa Anh Quốc </span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									<i class="uil uil-clock me-1"></i> 8.000.000 </span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa điện tử </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
					<a href="#" class="card mb-4 lift">
						<div class="card-body p-5">
							<span class="row justify-content-between align-items-center">
								<span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body">
									<span class="avatar bg-red text-white w-9 h-9 fs-17 me-3">EN</span> Visa Anh Quốc </span>
								<span class="col-5 col-md-3 text-body d-flex align-items-center">
									<i class="uil uil-clock me-1"></i> 8.000.000 </span>
								<span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
									<i class="uil uil-location-arrow me-1"></i> Visa điện tử </span>
								<span class="d-none d-lg-block col-1 text-center text-body">
									<i class="uil uil-angle-right-b"></i>
								</span>
							</span>
						</div>
						<!-- /.card-body -->
					</a>
					<!-- /.card -->
				</div>
				
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /section -->
								