<section class="wrapper bg-primary text-white">
    <div class="container py-8 py-md-8">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <div class="row align-items-center counter-wrapper gy-6 text-center">
            <div class="col-md-3">
              <a href="#" title="View all tours under Road Trip" class="text-white">
                <i class="flaticon-car" style="font-size: 68px; line-height: 1;"></i>
                <h3 class="counter text-white mb-0">3472</h3>
                  <p>Road Trip</p>
              </a>
            </div>
            <!--/column -->
            <div class="col-md-3">
              <a href="#" title="View all tours under Road Trip" class="text-white">
                <i class="flaticon-calendar-2" style="font-size: 68px; line-height: 1;"></i>
                <h3 class="counter text-white mb-0">12</h3>
                  <p>Sắp khởi hành</p>
              </a>
            </div>
            <!--/column -->
            <div class="col-md-3">
              <a href="#" title="View all tours under Road Trip" class="text-white">
                <i class="flaticon-travel" style="font-size: 68px; line-height: 1;"></i>
                <h3 class="counter text-white mb-0">122</h3>
                  <p>Tour lấy dấu</p>
              </a>
            </div>
            <!--/column -->
            <div class="col-md-3">
              <a href="#" title="View all tours under Road Trip" class="text-white">
                <i class="flaticon-followers" style="font-size: 68px; line-height: 1;"></i>
                <h3 class="counter text-white mb-0">132</h3>
                  <p>Tour riêng</p>
              </a>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
</section>