<div class="widget">
  <div  class="wrapper bg-pale-sky text-center rounded ">
    <h1 class="mb-5 pt-2">Chi phí chỉ</h1>
    <div class="wrapper gradient-6">
      <h1 class="text-white"><strong>
        1.500.000
      </strong>
      </h1>
    </div>
    <div class="table-responsive align-items-center text-center">
      <h4 >Trọn gói bao gồm:</h4>
      
        <table class="table table-order ps-0 py-2"></table>
          <tbody  >
          <tr class="">
            <td class="ps-0 py-2">
            <p><i class="uil uil-check-circle me-1"></i>Phí visa Đại sứ quán </p>
            </td>
          </tr>
  
          
          </tbody>
        </table>
        <p ><i class="uil uil-exclamation-circle me-1"></i>Chưa bao gồm bữa ăn</p>
    </div>
  
  
    <div class="wrapper text-white text-center pb-5">
      <a href="https://zalo.me/0933344646" class="btn btn-primary rounded-pill">Zalo: 093-334-4646</a> 
    </div>
    
  </div>
</div>
								