<div>
	<hr class="double my-8 text-blue" />
	<h4 class="mb-5">Tổng quan</h4>
	<table class="table">
		<tbody>
		  <tr>
			<th scope="row">1</th>
			<td colspan="2">Trạng thái</td>
			<td>sắp khởi hành
			</td>
			
		  </tr>
		  <tr>
			<th scope="row">2</th>
			<td colspan="2">Departure City</td>
			<td>Ho Chi Minh</td>
			
		  </tr>
		  <tr>
			<th scope="row">3</th>
			<td colspan="2">Location</td>
			<td>Úc & New Zealand</td>
		  </tr>
		  <tr>
			<th scope="row">4</th>
			<td colspan="2">Durations</td>
			<td>7 days 7 nights</td>
		  </tr>
		  <tr>
			<th scope="row">5</th>
			<td colspan="2">Contract</td>
			<td>Single</td>
		  </tr>
		</tbody>
	  </table>
</div>
