<!-- HỒ SƠ XIN VISA DU LỊCH -->
<div class="pt-5" >
	<h4 class="mb-5"> HỒ SƠ XIN VISA DU LỊCH ẤN ĐỘ</h4>
	<div class="widget">
		
		<div class="accordion accordion-wrapper" id="accordionExample">
		  <div class="card accordion-item py-0 mb-1">
			<div class="card-header py-1" id="headingOne">
			  <a class="collapsed hover text-blue" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="uil uil-angle-down"></i>Mọi đối tườg</a> 
			</div>
			<!--/.card-header -->
			<div id="collapseOne" class="accordion-collapse collapse show " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			  <div class="card-body ">
				<div>
					<table class="table">
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td colspan="2"> CUNG CẤP THÔNG TIN	</td>
							<td>– Thông tin chi tiết để Vinharound điền đơn visa
							</td>
							
						  </tr>
						  <tr>
							<th scope="row">2</th>
							<td colspan="2">HÌNH THẺ</td>
							<td> Ảnh phông trắng theo quy chuẩn</td>
							
						  </tr>
						  <tr>
							<th scope="row">3</th>
							<td colspan="2">HỘ CHIẾU</td>
							<td>Hộ chiếu còn hạn trên 12 tháng</td>
						  </tr>
						 
						</tbody>
					  </table>
				</div>
			  </div>
			  <!--/.card-body -->
			</div>
			<!--/.accordion-collapse -->
		  </div>
		  <!--/.accordion-item -->
		  
		  <div class="card accordion-item py-0 mb-1">
			<div class="card-header py-1" id="headingTwo">
			  <a class="collapsed hover text-blue" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="uil uil-angle-down"></i> ...</a>
			</div>
			<!--/.card-header -->
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
			  <div class="card-body">
				<ul class="unordered-list bullet-primary">
				  <li>Người lớn từ 5 – 70 tuổi: 100% giá tour</li>
				  <li>Người lớn trên 70 tuổi: 100% giá tour trừ chi phí bảo hiểm (quý khách tự mua bảo hiểm)</li>
				  <li>Trẻ em trên 24 tháng tuổi:
					<ul class="icon-list bullet-primary">
					  <li><span><i class="uil uil-arrow-right"></i></span><span> 95% giá tour nếu ngủ cùng phòng với 2 người lớn.</span></li>
					  <li><span><i class="uil uil-arrow-right"></i></span><span> 100% giá tour nếu ngủ cùng 1 người lớn.</span></li>
					</ul>
				  </li>
				  <li>Em bé dưới 24 tháng tuổi: 30% giá tour</li>
				  <li>Khách đã có visa / Hộ chiếu được miễn visa: trừ theo phí visa của ĐSQ/LSQ</li>
	  
				</ul>
			  </div>
			  <!--/.card-body -->
			</div>
			<!--/.accordion-collapse -->
		  </div>
		  <!--/.accordion-item -->
		  
		 
		  
		</div>
		<!--/.accordion -->
	  </div>
</div>
<!-- /HỒ SƠ XIN VISA DU LỊCH -->

<!--HỒ SƠ THÊM: -->

<div class="mb-5 mt-2 pt-5">
	<h4 class="mb-5">HỒ SƠ THÊM:</h4>
	<p class=" ps-2">Ảnh thẻ phông trắng 3×4 cm file mềm</p>
			<div class="table-responsive  ps-2">
			  <table class="ps-0 py-0">
				<tbody class="ps-0 py-2">
				  <tr class="ps-0 py-0">
					<td class="ps-0 py-0">
						<a href="https://vinharound.com/wp-content/uploads/2023/05/visaaindia.pdf" rel="noopener" target="_blank" class="text-blue hover"> <i class="uil uil-folder-download me-2"></i>Tải về checklist visa Ấn Độ tại đây</a>

					</td>
				  </tr>
				  <tr>
					<td class="ps-0 py-2">
						<a href="https://vinharound.com/chinh-sach-huy-tour-hoan-tien/" rel="noopener" target="_blank" class="text-blue hover"> <i class="uil uil-folder-download me-2"></i>Tải về các tài liệu hỗ trợ xin visa tại đây</a>
					</td>
				  </tr>
				</tbody>
			  </table>
			</div>
		   
	
</div>

<!-- /.HỒ SƠ THÊM: -->

<!-- QUY TRÌNH XIN VISA ẤN ĐỘ -->
<div  class="mb-5 mt-2 pt-5">
	<h4 class="mb-5">QUY TRÌNH XIN VISA ẤN ĐỘ</h4>
	<div class="swiper-container dots-over text-center mb-6" data-margin="30"  data-nav="true" data-autoheight="true" >
		<div class="swiper">
		  <div class="swiper-wrapper">
			<div class="swiper-slide bg-pale-blue  rounded h-100">
				<div class="card">
					<div class="card-body  bg-pale-blue rounded">
					<h1>1 - TƯ VẤN & CHUẨN BỊ</h1>
					<p>VinhAround tư vấn từng trường hợp cụ thể để quý khách chuẩn bị hồ sơ</p>
					<p>thời gian 2-3 ngày</p>
				</div></div>
			  
			  <!--/.caption-wrapper -->
			</div>
			<!--/.swiper-slide -->
			<div class="swiper-slide bg-overlay bg-overlay-400 rounded h-100">
				<div class="card">
					
					<div class="card-body">
					<p>thời gian 2-3 ngày</p>
				</div></div>
			   
				<!--/.caption-wrapper -->
			  </div>
			<!--/.swiper-slide -->
		
		  </div>
		  <!--/.swiper-wrapper -->
		</div>
		<!-- /.swiper -->
	  </div>
</div>

  <!-- /.swiper-container -->
<!-- /QUY TRÌNH XIN VISA ẤN ĐỘ -->

<!-- ĐIỀU KHOẢN DỊCH VỤ -->
<div>
	<h4 class="mb-5">ĐIỀU KHOẢN DỊCH VỤ</h4>
	<div class="ps-2">

	<ul class="unordered-list bullet-primary">
           
		<li>1.	Phí dịch vụ, phí visa và các phí liên quan sẽ thanh toán 100% ngay khi ký hợp đồng.</li>
		<li>2.	VinhAround chỉ đại diện quý khách hoàn tất các hồ sơ và thủ tục về visa. Cần lưu ý rằng quyền quyết định chấp nhận hay từ chối hồ sơ xin thị thực ở đại sứ quán/lãnh sự quán. VinhAround không có vai trò nào trong quá trình xét duyệt hồ sơ xin thị thực, không chịu trách nhiệm pháp lý hay có bất kỳ trách nhiệm nào đối với các trường hợp trì hoãn trong quá trình xét duyệt hoặc đối với trường hợp xin thị thực bị từ chối bởi Chính phủ.</li>
	<li>3.	VinhAround không chịu trách nhiệm hoặc không có nghĩa vụ bồi thường cho các tổn thất gây ra trong quá trình xét duyệt hồ sơ khi quý khách book trước vé máy bay, khách sạn, tour du lịch…</li>
		<li>4.  VinhAround cam kết bảo mật thông tin khách hàng nhưng miễn trừ trách nhiệm cho các tổn thất xảy ra nếu thông tin khách hàng bị lộ cho một bên thứ ba.</li>
		<li>5.	VinhAround có quyền từ chối cung cấp dịch vụ đến Quý khách mà không cần cung cấp bất cứ một lý do nào trong các trường hợp hồ sơ không đúng hoặc đủ, thời gian yêu cầu thực hiện không đảm bảo, hoặc các trường hợp bất thường khác. Trong các trường hợp này, toàn bộ chi phí sẽ được hoàn trả đầy đủ đến Quý khách.	</li>	  
		<li>6.	VinhAround sẽ không hoàn trả bất cứ khoản phí nào trong trường hợp Quý khách muốn hủy khi:<br/>
		– Hồ sơ của Quý khách đã được đưa nộp lên Đại Sứ Quán/Lãnh Sự Quán<br/>
		– Quý khách cung cấp thông tin sai hoặc sử dụng giấy tờ giả mạo.<br/>
		– Quý khách thuộc danh sách cấm xuất cảnh của nhà nước Việt Nam.<br/>
		– Quý khách thuộc danh sách cấm nhập cảnh của nhà nước nơi Quý khách đang xin visa.</li>
</ul>
	</div>
</div>

<!-- /ĐIỀU KHOẢN DỊCH VỤ -->


<!-- CÁC CÂU HỎI THƯỜNG GẶP -->
<div >
	<h4 class="mb-5"> CÁC CÂU HỎI THƯỜNG GẶP ẤN ĐỘ</h4>
	<div class="widget">
		
		<div class="accordion accordion-wrapper" id="accordionExample">
		  <div class="card accordion-item py-0 mb-1">
			<div class="card-header py-1" id="headingOne">
			  <a class="collapsed hover text-blue" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="uil uil-angle-down"></i>Visa Ấn có thời hạn bao lâu?</a> 
			</div>
			<!--/.card-header -->
			<div id="collapseOne" class="accordion-collapse collapse show " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			  <div class="card-body ">
				<div>
<p>
	Visa Canada dành cho các mục đích du lịch, công tác, thăm thân có thời hạn được cấp từ 6 tháng (dành cho visa ngắn hạn single) lên đến tối đa 10 năm (đối với visa dài hạn Super Visa). Thời hạn lưu trú tối đa của visa Canada thường do Cán bộ hải quan quyết định, thời gian này có thể kéo dài từ 30 ngày đến 6 tháng, tùy từng trường hợp cụ thể.
</p>
				</div>
			  </div>
			  <!--/.card-body -->
			</div>
			<!--/.accordion-collapse -->
		  </div>
		  <!--/.accordion-item -->
		  
		  <div class="card accordion-item py-0 mb-1">
			<div class="card-header py-1" id="headingTwo">
			  <a class="collapsed hover text-blue" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="uil uil-angle-down"></i>Thời gian xét duyệt hồ sơ xin visa Canada bao lâu?</a>
			</div>
			<!--/.card-header -->
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
			  <div class="card-body">
				<p>
					Thời gian xét duyệt hồ sơ xin visa đi Canada từ 7 đến 120 ngày làm việc. Để tránh rủi ro, tốt nhất bạn nên chuẩn bị giấy tờ xin visa Canada trước dự định khởi hành từ 2 tháng.

					Nếu cần xin visa Canada gấp, bạn có thể liên hệ với dịch vụ làm visa Canada qua hotline 093-334-4646 để được tư vấn, hỗ trợ.
				</p>
			  </div>
			  <!--/.card-body -->
			</div>
			<!--/.accordion-collapse -->
				<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
			  <div class="card-body">
				<p>
					Thời gian xét duyệt hồ sơ xin visa đi Canada từ 7 đến 120 ngày làm việc. Để tránh rủi ro, tốt nhất bạn nên chuẩn bị giấy tờ xin visa Canada trước dự định khởi hành từ 2 tháng.

Nếu cần xin visa Canada gấp, bạn có thể liên hệ với dịch vụ làm visa Canada qua hotline 093-334-4646 để được tư vấn, hỗ trợ.
				</p>
			  </div>
			  <!--/.card-body -->
			</div>
			<!--/.accordion-collapse -->
		  </div>
		  <!--/.accordion-item -->
		  
		  <div class="card accordion-item py-0 mb-1">
			<div class="card-header py-1" id="headingTwo1">
			  <a class="collapsed hover text-blue" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo"><i class="uil uil-angle-down"></i>...</a>
			</div>
			<!--/.card-header -->
			<div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo1" data-bs-parent="#accordionExample">
			  <div class="card-body">
				<p>
					....
				</p>
			  </div>
			  <!--/.card-body -->
			</div>
			
			<!--/.accordion-collapse -->
		  </div>
		  <!--/.accordion-item -->
		  
		  
		</div>
		<!--/.accordion -->
	  </div>
</div>
<!-- /CÁC CÂU HỎI THƯỜNG GẶP -->