<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
      <div class="row gx-md-8 gy-10 align-items-center">
        <div class="col-lg-6 offset-lg-1 order-lg-2 position-relative">
          <figure class="rounded"><img class="img-fluid" src="./assets/img/photos/build-porfolio.png" srcset="./assets/img/photos/build-porfolio.png 2x" alt="" /></figure>
          <div class="card shadow-lg position-absolute d-none d-md-block" style="top: 15%; left: -7%">
            <div class="card-body py-4 px-5">
              <div class="d-flex flex-row align-items-center">
                <div>
                  <img src="./assets/img/icons/solid/cloud-group.svg" class="svg-inject icon-svg icon-svg-sm solid-duo text-grape-fuchsia me-3" alt="" />
                  
                </div>
                <div>
                  <h3 class="fs-25 counter mb-0 text-nowrap">25000+</h3>
                  <p class="fs-16 lh-sm mb-0 text-nowrap">Khách hàng hài lòng</p>
                </div>
              </div>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
          <div class="card shadow-lg position-absolute text-center d-none d-md-block" style="bottom: 10%; left: -10%;">
            <div class="card-body p-6">
              <div class="progressbar semi-circle fuchsia mb-3" data-value="95"></div>
              <h4 class="mb-0">Đậu Visa</h4>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-lg-5">
          <h2 class="display-4 mb-4 me-lg-n5">DỰNG HỒ SƠ ĐẸP CHỈ <span class="underline-3 style-3 yellow">10.000USD</span>.</h2>
          <p class="mb-6">
            Bạn không thể chứng minh thu nhập! Chưa từng du lịch nước nào! Không thể chứng minh tài chính!
            Vinharound lần đầu tiên giới thiệu "Chương trình dựng hồ sơ để xin visa các nước phát triển" như: 
            Mỹ, Anh, Schengen, Canada, Úc, New Zealand với khả năng đạt visa đến 95%  
          </p>
          <ul class="icon-list bullet-bg bullet-soft-primary">
            <li><i class="uil uil-check"></i>Thời gian thực hiện 7~9 tháng.</li>
            <li><i class="uil uil-check"></i>Nhận sao kê thu nhập thực 6 tháng.</li>
            <li><i class="uil uil-check"></i>Tăng điểm tín dụng tài chính trên hệ thống CIC.</li>
            <li><i class="uil uil-check"></i>Làm chủ một doanh nghiệp hợp pháp.</li>
            <li><i class="uil uil-check"></i>Được du lịch đến 12 quốc gia.</li>
            <li><i class="uil uil-check"></i>Cam kết có visa 6 nước: Nhật Bản, Hàn Quốc, Đài Loan, Hongkong, Ấn Độ, Ai Cập</li>
            <li><i class="uil uil-check"></i>Cam kết đậu visa Schengen</li>
            <li><i class="uil uil-check"></i>Cam kết đậu visa Úc / New Zealand</li>
            <li><i class="uil uil-check"></i>Cam kết đậu visa UK</li>
            <li><i class="uil uil-check"></i>Cam kết đậu visa Canada</li>
            <li><i class="uil uil-check"></i>Cam kết đậu visa Mỹ</li>
          </ul>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->