<section class="wrapper bg-light">
    <div class="container py-10 py-md-10">
      <div class="row gx-3 gy-10 gy-lg-0 mb-5 mb-md-5 align-items-center">
        <div class="col-lg-7 order-lg-2">
          <figure><img class="w-100" src="./assets/img/aroundTheWorld.png" 
            srcset="./assets/img/aroundTheWorld.png 2x" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="col-lg-5 ">
          <h2 class="display-4 mb-5 pe-xxl-5">Vòng quanh Thế giới cùng VinhAround chỉ với 
            <span class="underline-3 style-3 yellow">10.000.000</span>/tháng</h2>
          <p class="mb-6">Khám phá 50 Quốc gia & vùng lãnh thổ trên Thế giới cùng Vinharound trong 4 năm - trải nghiệm không đại lý Du lịch nào có được</p>
          <div class="row align-items-center counter-wrapper gy-6">
            <div class="col-md-6">
              <h3 class="counter counter-lg mb-1">50</h3>
              <h6 class="fs-17 mb-1">Quốc gia & vùng lãnh thổ</h6>
              
            </div>
            <!--/column -->
            <div class="col-md-6">
              <h3 class="counter counter-lg mb-1">4</h3>
              <h6 class="fs-17 mb-1">Năm</h6>
              
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->